/* =========================================================
   PÁGINA: Artigos
   ========================================================= */

.page--artigos {
  min-height: 58vh;
  margin-top: 20vh;
  background-color: var(--color-background);
  margin-left: 20vw;
  margin-right: 20vw;
}
